SECRET_KEY="django-insecure-8e5c+t@%kj1gu2c-$^9$60&0rycc9qw*lf!6jbmy6l#*3-#b4="
DEBUG=True
ALLOWED_HOSTS="127.0.0.1,localhost"

DB_ENGINE="django.db.backends.mysql"
DB_NAME="hydrocore_db"
DB_USER="root"
DB_PASSWORD="yourpassword"
DB_HOST="127.0.0.1"
DB_PORT="3306"

SWAGGER_DEFAULT_API_URL="http://127.0.0.1:8000/"
REDIS_LOCATION="redis://127.0.0.1:6379/1"